* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.li__container {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
  &--imgBox {
    background-image: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
    background-position: center;
    border-radius: 100px;
    width: 202px;
    height: 202px;
    display: flex;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      align-items: baseline;
      margin-left: 2rem;
    }
  }
  &--img {
    width: 188px;
    height: 162px;
    object-fit: none;
    margin-top: 1rem;
  }
  &--h1 {
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 2rem;
  }
  &--p {
    font-family: $jost;
    font-weight: $fontreg;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    @include tablet {
      text-align: left;
      width: 439px;
    }
  }
}

#second .li__container--img {
  width: 184px;
  height: 162px;
}

#third .li__container--img {
  width: 201px;
  height: 128px;
}
