* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.graphic__container {
  width: 100vw;
  height: 320px;
  background-color: $peach;

  &--bitMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/shared/desktop/bg-pattern-small-circle.svg");
    background-repeat: no-repeat;
    background-size: 18rem;
    background-position-x: 80%;
    height: 100vh;
  }

  &--h1 {
    padding-top: 5rem;
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 32px;
    color: $white;
    line-height: 36px;
  }

  &--p {
    margin-top: 2rem;
    font-family: $jost;
    font-weight: $fontreg;
    font-size: 15px;
    text-align: center;
    color: $white;
    width: 327px;
  }
}
