* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../../styles/partials.scss";

.contactus__container {
  width: 327px;
  height: 379px;
  background-color: $peach;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  background-image: url("../../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: 95% 40%;
  background-size: 900px;

  @include tablet {
    background-image: url("../../../assets/shared/desktop/bg-pattern-call-to-action.svg");
    background-position: 20% 47%;
    background-size: 930px;
    width: 690px;
    top: 50px;
  }
  @include desktop {
    width: 1111px;
    height: 292px;
    flex-direction: row;
    justify-content: space-around;
    background-position: 185% 47%;
    background-size: 993px;
  }

  &--textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      align-items: baseline;
    }
  }

  &--h1 {
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 32px;
    color: white;
    text-align: center;
    width: 279px;
    @include tablet {
      font-size: 40px;
    }
    @include desktop {
      text-align: left;
    }
  }
  &--p {
    font-family: $jost;
    font-weight: $fontreg;
    color: white;
    text-align: center;
    margin-top: 0.5rem;
    @include tablet {
      font-size: 16px;
      width: 445px;
      line-height: 26px;
    }
    @include desktop {
      text-align: left;
    }
  }

  &--btn {
    width: 152px;
    height: 56px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 5px black;
    cursor: pointer;
    font-family: $jost;
    font-weight: $fontmed;
    background-color: white;
    z-index: 5;
  }
}

.contactus__container--btn:active {
  background-color: #ffad9b;
  color: white;
}
