* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.appdesign__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 3068px;
  @include tablet {
    height: unset;
  }
  @include desktop {
    flex-wrap: wrap;
    width: 1110px;
    margin: 0 auto;
    flex-direction: row;
    height: 1200px;
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
}
