* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.webdesign__container {
  background-image: url("../../assets/home/mobile/image-web-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 327px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &--h1 {
    color: white;
    margin-bottom: 1.5rem;
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 28px;
  }

  &--p {
    color: white;
    letter-spacing: 5px;
  }
}

.appdesign__container {
  background-image: url("../../assets/home/mobile/image-app-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 327px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &--h1 {
    color: white;
    margin-bottom: 1.5rem;
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 28px;
  }

  &--p {
    color: white;
    letter-spacing: 5px;
  }
}

.graphicdesign__container {
  background-image: url("../../assets/home/mobile/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 327px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &--h1 {
    color: white;
    margin-bottom: 1.5rem;
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 28px;
  }

  &--p {
    color: white;
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 15px;
    letter-spacing: 5px;
  }
}
