* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__section {
  width: 327px;
  height: 798px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
}
