* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.graphicdesign__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 1514px;
  margin-top: 1rem;
}
