* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.webcards__container {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 446px;
  border-radius: 25%;
  @include tablet {
    flex-direction: row;
    justify-content: center;
  }

  &--img {
    width: 327px;
    height: 320px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    @include tablet {
      height: 310px;
      border-top-right-radius: unset;
      border-bottom-left-radius: 25px;
    }
  }

  &--textBox {
    width: 327px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fdf3f0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    @include tablet {
      height: 310px;
      border-bottom-left-radius: unset;
      border-top-right-radius: 25px;
      justify-content: space-evenly;
      padding: 10px;
    }
  }
  &--title {
    color: #e7816b;
    letter-spacing: 5px;
    line-height: 26px;
    font-family: $jost;
    font-weight: $fontmed;
    text-align: center;
  }
  &--p {
    font-family: $jost;
    font-family: $fontreg;
    width: 267px;
    text-align: center;
    @include tablet {
      width: 277px;
    }
  }
}
