* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webdesign__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 3068px;
  margin-top: 5rem;
}
