* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.aboutus__container {
  width: 100vw;
  height: 715px;
  background-color: $peach;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    width: 689px;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 7rem;
    margin-top: 5rem;
    height: 640px;
  }
  @include desktop {
    width: 1111px;
    height: 480px;
    flex-direction: row-reverse;
  }

  &--imgBox {
    margin: 0 auto;
  }

  &--textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--img {
    background-image: url("../../assets/about/mobile/image-about-hero.jpg");
    background-repeat: no-repeat;
    width: 375px;
    height: 320px;
    @include tablet {
      background-image: url("../../assets/about/tablet/image-about-hero.jpg");
      width: 689px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
    @include desktop {
      background-image: url("../../assets/about/desktop/image-about-hero.jpg");
      width: 720px;
      height: 480px;
      background-position: center;
    }
  }

  &--h1 {
    padding-top: 5rem;
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 32px;
    color: $white;
    line-height: 36px;
    text-align: center;
    @include tablet {
      font-size: 48px;
    }
    @include desktop {
      padding-top: unset;
    }
  }

  &--p {
    padding-top: 2rem;
    margin: 0 auto;
    font-family: $jost;
    font-weight: $fontreg;
    font-size: 15px;
    text-align: center;
    color: $white;
    width: 327px;
    @include tablet {
      width: 573px;
      font-size: 16px;
    }
    @include desktop {
      width: 458px;
    }
  }
}
