* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.locationcards__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 1188px;
  justify-content: space-evenly;
  margin: 0 auto;

  @include tablet {
    // padding-bottom: 5rem;
  }
}
