* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.realdeal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 885px;
  background-color: #fdf3f0;
  @include tablet {
    width: 689px;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  &--imgBox {
    width: 375px;
    height: 320px;
    @include tablet {
      width: 689px;
      height: 320px;
    }
  }

  &--textBox {
    height: 385px;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
  }

  &--img {
    background-image: url("../../assets/about/mobile/image-real-deal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 375px;
    height: 320px;
    @include tablet {
      background-image: url("../../assets/about/tablet/image-real-deal.jpg");
      width: 689px;
      height: 320px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }

  &--h1 {
    font-family: $jost;
    font-size: 32px;
    color: $peach;
  }

  &--p {
    font-family: $jost;
    font-weight: $fontreg;
    font-size: 15px;
    width: 327px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 1rem;
    @include tablet {
      font-size: 16px;
      width: 573px;
    }
  }
}
