* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.talent__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 885px;
  background-color: #fdf3f0;
  @include tablet {
    width: 689px;
    height: 736px;
    margin: 0 auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  @include desktop {
    width: 1111px;
    height: 640px;
    flex-direction: row;
  }

  &--imgBox {
    width: 375px;
    height: 320px;
    @include tablet {
      width: 689px;
      height: 320px;
    }
    @include desktop {
      width: 476px;
      height: 713px;
    }
  }

  &--textBox {
    height: 385px;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    @include tablet {
      margin-top: unset;
    }
    @include desktop {
      margin: 0 auto;
      align-items: baseline;
      margin-right: 12rem;
    }
  }

  &--img {
    width: 375px;
    height: 320px;
    background-image: url("../../assets/about/mobile/image-world-class-talent.jpg");
    @include tablet {
      width: 689px;
      height: 320px;
      background-image: url("../../assets/about/tablet/image-world-class-talent.jpg");
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
    @include desktop {
      width: 476px;
      height: 713px;
      background-image: url("../../assets/about/desktop/image-world-class-talent.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--h1 {
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 32px;
    color: $peach;
    @include desktop {
      font-size: 40px;
    }
  }

  &--p {
    width: 327px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 1rem;
    font-family: $jost;
    font-weight: $fontreg;
    @include tablet {
      width: 527px;
      font-size: 16px;
    }
    @include desktop {
      width: 445px;
      text-align: left;
    }
  }
}
