* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.talent__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 885px;
  background-color: #fdf3f0;

  &--imgBox {
    width: 375px;
    height: 320px;
  }

  &--textBox {
    height: 385px;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
  }

  &--img {
    width: 375px;
    height: 320px;
  }

  &--h1 {
    font-family: $jost;
    font-size: 32px;
    color: $peach;
  }

  &--p {
    width: 327px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 1rem;
  }
}
