* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../../styles/partials.scss";

.footer__container {
  width: 100vw;
  height: 815px;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 15rem;
  @include tablet {
    height: 423px;
    padding-top: 9rem;
  }

  &--innerBox {
    width: 327px;
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @include tablet {
      width: 690px;
      height: 177px;
      flex-direction: column;
    }
    @include desktop {
      width: 690px;
      height: 177px;
    }
  }

  &--linkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-evenly;
    @include tablet {
      flex-direction: row;
      width: 700px;
      justify-content: space-around;
      align-items: flex-start;
    }
    @include desktop {
      width: 1070px;
      justify-content: space-between;
    }
  }

  &--textBoxes {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: end;
      width: 700px;
    }
    @include desktop {
      width: 1070px;
      justify-content: space-between;
    }
  }

  &--img {
    width: 202px;
    height: 27px;
    @include tablet {
      // position: relative;
      // bottom: 170px;
    }
  }

  &--divider {
    width: 327px;
    @include tablet {
      display: none;
    }
  }

  &--dividerDesktop {
    display: none;
    @include tablet {
      display: block;
      width: 690px;
      height: 0.5px;
      position: relative;
      bottom: 40px;
    }
    @include desktop {
      width: 1100px;
    }
  }

  &--ul {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      width: 372px;
      flex-direction: row;
    }
  }

  &--li {
    list-style: none;
    font-family: $jost;
    cursor: pointer;
    color: white;
  }

  &--li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
  }
  &--li:hover::after {
    width: 100%;
  }

  &--textBox {
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }

  &--strong {
    color: white;
    line-height: 26px;
    font-family: $jost;
    font-weight: 700;
    color: $darkgrey;
  }
  &--p {
    color: white;
    line-height: 26px;
    font-family: $jost;
    font-weight: $fontreg;
    color: $darkgrey;
  }

  &--socialBox {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
}

.footer__container--img:hover {
  fill: red;
}
