* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  @include tablet {
    height: 440px;
  }
}
