* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../styles/partials.scss";

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 764px;
  background-color: $peach;
  @include tablet {
    width: 689px;
    margin: 0 auto;
    border-radius: 25px;
    height: 711px;
  }

  &--textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      align-items: baseline;
      width: 573px;
    }
  }

  &--title {
    font-family: $jost;
    font-weight: $fontmed;
    font-size: 32px;
    color: white;
    margin-top: 3rem;
    margin-bottom: 2rem;
    @include tablet {
      font-size: 48px;
    }
  }

  &--p {
    width: 327px;
    text-align: center;
    line-height: 25px;
    font-family: $jost;
    font-weight: $fontreg;
    font-size: 15px;
    color: white;
    @include tablet {
      width: 573px;
      text-align: left;
      font-size: 16px;
      line-height: 26px;
    }
  }

  &--form {
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    @include tablet {
      width: 573px;
      align-items: flex-end;
    }
  }

  &--btn {
    width: 152px;
    height: 56px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 5px 5px black;
  }
}

.control {
  width: 327px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: solid white 2px;
  font-family: $jost;
  font-weight: $fontmed;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  color: white;
  @include tablet {
    width: 573px;
  }
}

.invalid {
  border-bottom: solid red 2px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 327px;
  outline: none;
  font-family: $jost;
  font-weight: $fontmed;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  color: white;
  @include tablet {
    width: 573px;
  }
}

.invalid::placeholder {
  color: red;
  opacity: 0.5;
}

.invalid-message {
  font-family: $jost;
  font-weight: $fontreg;
  position: relative;
  bottom: 25px;
  text-align: center;
  color: maroon;
}
