* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../../../styles/partials.scss";

.graphicdesign__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 1514px;
  margin-top: 1rem;
  @include tablet {
    height: unset;
  }
  @include desktop {
    flex-direction: row;
    width: 1110px;
    margin: 0 auto;
    flex-direction: row;
    padding-top: 5rem;
    margin-bottom: 5rem;
    justify-content: space-between;
  }
}
