// Designo App Web Design

// Colors

// Primary Colors

$peach: rgb(231, 129, 107);
$black: rgb(29, 28, 30);
$white: rgb(255, 255, 255);

// Secondary Colors

$lightpeach: rgb(255, 173, 155);
$darkgrey: rgb(51, 49, 54);
$lightgrey: rgb(241, 243, 245);

// Typography
$jost: "Jost", sans-serif;
$fontreg: 400;
$fontmed: 500;

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
