// Designo App Web Design

// Colors

// Primary Colors

$peach: rgb(231, 129, 107);
$black: rgb(29, 28, 30);
$white: rgb(255, 255, 255);

// Secondary Colors

$lightpeach: rgb(255, 173, 155);
$darkgrey: rgb(51, 49, 54);
$lightgrey: rgb(241, 243, 245);

// Typography
$jost: "Jost", sans-serif;
$fontreg: 400;
$fontmed: 500;
// $smalltext: 16px;
// $mediumtext: 20px;
// $largetext: 40px;
// $xltext: 48px;
// $smallline: 26px;
// $mediumline: 48px;
// $smallspacing: 2px;
// $mediumspacing: 5px;
